.exp-content{
    width: 100%;
    margin-top: 100px;
}

.exp-content .header{
    position: relative !important;
    width: 100%;
    display: flex;
    justify-content: center;
}

.exp-content .header .head{
    display: block;
}

.exp-content .header .head p{
    text-align: center;
    margin-bottom: -25px;
}


/* Experience ---------------------------------------------------------- */

.work-exp{
    width: 100%;
    height: 600px;
    margin-top: 70px;
    position: relative;
}

.work-exp .left-side{
    width: 100%;
}

.work-exp .left-side .l-box{
    width: 500px;
    height: 500px;
    background: #171d25;
    transform: rotateZ(45deg);
    position: absolute;
    top: 100px;
    left: -250px;
    box-shadow: 30px 0px 150px -15px #8ed1fb46;
}

.work-exp .left-side .l-box .box1{
    width: 250px;
    height: 250px;
    background: #1B2022;
    position: absolute;
    top: -270px;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    z-index: 2;
}

.work-exp .left-side .l-box .box2{
    width: 250px;
    height: 250px;
    background: linear-gradient(9deg, rgba(93,142,172,1) 0%, rgba(142,209,251,1) 100%);
    position: absolute;
    top: -25px;
    right: -270px;
    display: flex;
    justify-content: right;
    z-index: 3;
}

.work-exp .left-side .l-box .box3{
    width: 250px;
    height: 250px;
    background: #1b20228f;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -300px;
    right: -270px;
    z-index: 1;
}

.work-exp .left-side .l-box .box4{
    width: 200px;
    height: 200px;
    background: #1B2022;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -450px;
    right: -670px;
    z-index: 1;
    opacity: 0.5;
}

.work-exp .left-side .l-box .box5{
    width: 400px;
    height: 400px;
    background: #1B2022;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -870px;
    right: -670px;
    z-index: 1;
    opacity: 0.5;
}

.work-exp .left-side .l-box .box6{
    width: 400px;
    height: 400px;
    background: #1B2022;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -820px;
    right: -1090px;
    z-index: 1;
    opacity: 0.5;
}

.company1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box1 .box1-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateZ(-45deg);
}

.experience h5{
    opacity: 0.8;
    margin-top: -20px;
    text-align: center;
}

.box2 .box2-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateZ(-45deg);
}

.box3 .box3-content{
    width: 400px;
    height: 400px;
}

.box-content .experience img{
    width: 40px;
}

.box-content .experience{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box-content .experience h3,
.box-content .experience h5,
.box-content .experience p{
    text-align: center;
}

.box-content .img-container{
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
}

.box1-content img{
    background: #222A35;
    border-radius: 50%;
    padding: 10px;
    border: 3px solid white;
}

.box2-content img{
    background: #8ed1fb;
    border-radius: 50%;
    padding: 10px;
    border: 3px solid white;
}

.box-content p{
    margin-top: -20px;
    font-size: 13px;
    padding-left: 30px;
    padding-right: 30px;
}

/* Mobile -------------------------------------------------------------------------- */

@media (max-width: 768px){
    .exp-content .header .head{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }  
    
    .work-exp{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .work-exp .left-side{
        height: 700px;
    }

    .work-exp .left-side,
    .work-exp .right-side
    {
        position: relative;
    }

    .exp-header{
        text-align: center;
        font-size: 35px;
    }

    .work-exp .left-side .l-box{
        position: absolute;
        top: 100px;
        left: -500px;
        box-shadow: 100px 0px 150px -15px #8ed1fb46;
    }

    .work-exp .left-side .l-box .box2{
        position: absolute;
        top: -170px;
        right: -270px;
    }

    .work-exp .left-side .l-box .box3{
        position: absolute;
        top: 101px;
        right: -270px;
    }
    
}

/* Tablet -------------------------------------------------------------------------- */

@media (min-width: 768px) and (max-width: 1024px){
    .work-exp .left-side .l-box{
        position: absolute;
        top: 100px;
        left: -300px;
        box-shadow: 100px 0px 150px -15px #8ed1fb46;
    }
}
