.aboutMePage{
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
}

.my-canvas2{
  width: 100%;
  height: 100%; 
  position: absolute !important; 
  top: 0; 
  left: 0; 
  margin-left: 200px;
  z-index: 10;
  cursor: grab;
}

#aboutme-content h2{
    color: #ffffff;
    font-size: 25px;
}

.my-skills{
    display: none;
}

.personal-data, 
.skill-balls,
.my-experience{
    position: absolute;
    top: 0; 
    left: -500px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: .4s ease-out;
    opacity: 0;
    z-index: 3;
}

.personal-data.active,
.my-experience.active{
    position: absolute;
    top: 0;
    left: 180px;
    display: flex;
    justify-content: left;
    align-items: center;
    opacity: 1;
}

.skill-balls.active{
    position: absolute;
    top: 0;
    left: 0px;
    display: flex;
    justify-content: left;
    align-items: center;
    opacity: 1;
    z-index: 11;
}

.p-data-content h4 span{
    font-weight: 400;
    margin-left: 10px;
    color: white;
}

.p-data-content h4{
    color: white;
}

.p-data-content{
    width: 400px;
    font-size: 14px;
}

#aboutme-content .p{
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
}

#aboutme-content .p-skills{
    letter-spacing: 3px;
    margin-top: -15px;
}

#aboutme-content .p-exp{
    letter-spacing: 3px;
    margin-top: -5px;
}

.exp-comp-web{
    font-size: 12px;
    margin-top: -20px;
}

.exp-comp-web a{
    color: #009292;
}

.exp-comp-web a:hover{
    color: #a4ffc7;
}

.exp-line{
    width: 310px;
    height: 2px;
    background-color: grey;
}

#aboutme-content .p-skills span{
    cursor: pointer;
}

.sub-header{
    color: #e9ffff;
    font-weight: 500;
}

.closeThis{
    display: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.closeThis:hover{
    color: #009292;
}


.meter-holder {
    position: relative;
    width: 400px;
    height: 5px; 
    border-radius: 10px;
    margin-top: -20px;
}

.meter-bg {
    position: absolute; top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: #009292;
    opacity: 0.2;
    border-radius: 10px;
}

.meter-fill {
    position: absolute; top: 0; left: 0;
    width: 0;
    height: 100%;
    background-color: #0bb3b3; 
    transition: width 0.5s ease;
    border-radius: 10px;
}

.slide{
    height: 450px;
    width: 100%;
}

.slide img{
 width: 100%;
 opacity: 0.05;
}

.about{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
    display: flex;
    transition: 0.5s ease-in-out;
  }

  .mobile-scroller,
  .mobile-scroller2{
    display: none;
  }


/* Skills ------------------------------------------------------------------- */

.skill-balls{
    position: absolute;
    top: -50px; left: 0;
    display: flex;
    width: 55%;
    height: 100%;
    justify-content: left;
    align-items: center;
    z-index: 11;
}

.skill-ball{
    width: 100%;
    height: 100%;
    z-index: 1;
}

.skill-balls .skill-name{
    position: absolute;
    top: 80px; left: 0px;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.skill-balls .skill-name h1{
    margin-top: -30px;
    z-index: 0;
}

.skill-balls .skill-name p{
    position: absolute;
    margin-top: 30px;
    z-index: 0;
}

/* ------------------------Mobile View---------------------- */

@media (max-width: 768px){
    .p-data-content h1{
        font-size: 35px;
    }
}

/* ------------------------Mobile and Tablet View---------------------- */

@media (max-width: 1024px){
    .my-canvas2{
        margin-left: 0px;
    }

    .aboutMePage{
        margin-top: 150px;
    }

    #about-me{
        display: flex;
        width: 100%;
        height: 100%;
    }

    .aboutMePage{
        padding-top: 150px;
    }

    .about{
        margin-top: -250px;
        height: fit-content;
    }

    .personal-data, 
    .skill-balls,
    .my-experience{
        display: flex;
        align-items: start !important;
        justify-content: center;
        height: 100%;
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .personal-data.active{
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .skill-balls.active{
        width: 100%;
        position: absolute;
        top: 0px;
        left: -20px;
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .p-data-content,
    .my-skills-content{
        width: 300px;
        font-size: 14px;
    }

    .meter-holder{
        width: 100%;
    }

    .closeThis{
        display: flex;
    }

    .slide{
        height: 350px;
    }
    
    .slide img{
        height: 1000px;
        width: 1500px;
        margin-left: -100px;
        opacity: 0.05;
    }
       
    .mobile-scroller{
        display: block;
        position: absolute;
        top: 0; right: 0;
        width: 10%;
        height: 100%;
        z-index: 14;
    }

    .mobile-scroller2{
        display: block;
        position: absolute;
        bottom: 0; right: 0;
        width: 100%;
        height: 20%;
        z-index: 14;
    }
}

/* ------------------------Tablet View---------------------- */ 

@media (min-width: 768px) and (max-width: 1024px){
    .personal-data, 
    .my-skills,
    .my-experience{
        display: flex;
        align-items: start !important;
        justify-content: center;
        height: 100%;
        padding-top: 50px;
        padding-left: 50px !important; 
        padding-right: 20px;
    }

    .my-canvas2{
        margin-top: -100px;
    }
}