#root {
  width: 100%;
  height: 100%;
  place-items: center;
  justify-content: center;
  align-items: center;
}

.pages-container{
  height: 100vh;
  width: 100vw !important;
  display: flex;
  overflow: hidden;
}

/* -----------------Main Pagination------------------- */

.homePage,
.aboutMePage,
.myWorksPage,
.contactMePage{
  position: relative;
  width: 0vw;
  height: 100vh;
  transition: 0.5s ease-in-out;
}

.homePage.active,
.aboutMePage.active,
.myWorksPage.active,
.contactMePage.active{
  width: 100vw;
}

.my-canvas,
.my-canvas2,
.my-canvas3{
  width: 0 !important;
  height: 100% !important; 
  position: absolute !important; 
  top: 0; 
  left: 0; 
  z-index: 1;
  cursor: grab;
  transition: 0.5s ease-in-out;
}

.my-canvas.active, 
.my-canvas2.active,
.my-canvas3.active{
  width: 100% !important;
}

/* ------------------------End of Main Pagination---------------------- */



.about,
.works,
.contact{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  transition: 0.5s ease-in-out;
}

.mobile-bg{
  display: none;
}

.copyright{
  position: absolute;
  bottom: 1px;
  right: 20px;
  opacity: .2;
}

#my-works-content,
#contactme{
  justify-content: center;
}

.main-nav-links{
  font-size: 13px;
}

.trails-container{
  position: absolute; top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* ------------------------Mobile and Tablet View---------------------- */

@media (max-width: 1024px){
  .pages-container{
    display: block;
    overflow: hidden;
  }

  .my-canvas,
  .my-canvas2,
  .my-canvas3{
    width: 100% !important;
  }

  .homePage,
  .aboutMePage,
  .myWorksPage,
  .contactMePage{
    width: 100vw;
    overflow: hidden !important;
  }

  .copyright{
    display: none;
  }
  
  .mobile-bg{
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(10deg, rgba(35,42,44,1) 0%, rgba(79,87,89,1) 100%);
    position: fixed;
    top: 0; left: 0;
  }
}